__pycache__/
*.pyc
.venv/
venv/
exports/*
!exports/.gitkeep
logs/*
!logs/.gitkeep
configs/config.yaml
.env
*.egg-info/
.pytest_cache/
node_modules/
dist/
build/
*.spec
src-tauri/binaries/*
!src-tauri/binaries/.gitkeep
src-tauri/target/
